<?xml version="1.0"?><!--
/**
 * N2Dev_SearchResults
 *
 * @category    N2Dev
 * @package     N2Dev_SearchResults
 * @copyright   Copyright (c) 2016 N2Devinc.com
 * @author      jennifer@nodwell.net
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="N2Dev" translate="label" sortOrder="150">
            <label>N2Dev</label>
        </tab>
        <section id="N2Dev_SearchResults" translate="label" type="text"
                 sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>RFQ Cart</label>
            <tab>N2Dev</tab>
            <resource>N2Dev_SearchResults::config_header</resource>

            <group id="SearchResults_form" translate="label" type="text"
                   sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Header Text</label>
                <field id="header" translate="label"
                       type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Header Text</label>
                    <comment>This is the text that appears above the RFQ Forms</comment>
                </field>
            </group>
        </section>
    </system>
</config>