<?xml version="1.0"?>
<!--
/**
 * N2Dev_AddThis
 *
 * @category  N2Dev
 * @package   N2Dev_AddThis
 * @copyright Copyright (c) 2017 nodwell.net (www.nodwell.net)
 * @author    jennifer@nodwell.net
 */
-->
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <n2dev_addthis>
            <addthis_pubid>
                <pubid>jnodwell</pubid>
            </addthis_pubid>
        </n2dev_addthis>
    </default>
</config>