<?xml version="1.0"?>
<!--
/**
 * N2Dev_TwitterFeed
 *
 * @category    TwitterFeed
 * @package     N2Dev_TwitterFeed
 * @copyright   Copyright (c) 2017 nodwell.net
 * @author      jennifer@nodwell.net
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="n2dev" translate="label" sortOrder="250">
            <label>N2Dev</label>
        </tab>
        <section id="n2dev_twitterfeed" translate="label" type="text"
                 sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Twitter Feed</label>
            <tab>n2dev</tab>
            <resource>N2Dev_TwitterFeed::config</resource>
            <group id="twitterfeed_settings" translate="label comment" type="text"
                   sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Twitter Feed Settings</label>
                <comment>Enter settings for the twitter feed account to show a timeline from</comment>
                <field id="followid"
                       translate="label comment"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Follow</label>
                    <comment>enter @name for twitter account</comment>
                </field>
                <field id="datawidth"
                       translate="label comment"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Width</label>
                    <comment>default is 350</comment>
                </field>
                <field id="dataheight"
                       translate="label"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Height</label>
                    <comment>default is 600</comment>
                </field>
                <field id="color"
                       translate="label"
                       type="select"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Color Theme</label>
                    <source_model>N2Dev\TwitterFeed\Model\Config\Source\Theme</source_model>
                </field>
                <field id="link_color"
                       translate="label comment"
                       type="text"
                       sortOrder="50"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Twitter Link Color</label>
                    <comment>Twitter default is #3B94D9</comment>
                    <frontend_model>N2Dev\TwitterFeed\Block\Color</frontend_model>
                </field>
            </group>
            <group id="twitterfeed_button" translate="label comment" type="text"
                   sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Twitter Follow Button Settings</label>
                <comment>enable if you want a follow button to be displayed</comment>
                <field id="showbutton"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show Follow Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="datasize"
                       translate="label"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Size</label>
                    <source_model>N2Dev\TwitterFeed\Model\Config\Source\Size</source_model>
                </field>
                <field id="datashowscreen"
                       translate="label"
                       type="select"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show Screen Name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="datashowcount"
                       translate="label"
                       type="select"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show Count</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="twitterfeed_mention" translate="label comment" type="text"
                   sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Twitter Mention Button Settings</label>
                <comment>enable if you want a mention button to be displayed</comment>
                <field id="showbutton"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show Mention Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mentionsize"
                       translate="label"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Size</label>
                    <source_model>N2Dev\TwitterFeed\Model\Config\Source\Size</source_model>
                </field>
                <field id="prefill"
                       translate="label"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Optional Prefill Text</label>
                </field>
                <field id="rec_one"
                       translate="label comment"
                       type="text"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>@mention</label>
                    <comment>enter a twitter user handle if you want to mention them also</comment>
                </field>
                <field id="rec_two"
                       translate="label comment"
                       type="text"
                       sortOrder="50"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>@mention</label>
                    <comment>enter a second twitter user handle if you want to mention them also</comment>
                </field>
            </group>
        </section>
    </system>
</config>